In [ ]:
import pandas as pd
import requests
import numpy as np

In [ ]:
response=requests.get("https://newsdata.io/api/1/news?apikey=pub_191729a7504a7dfeda92f5d160ab32d8bc375&language=en")

In [ ]:
df=pd.DataFrame(response.json()['results'])

In [ ]:
df

,title,link,keywords,creator,video_url,description,content,pubDate,image_url,source_id,category,country,language
0,Omuthiya hosts business breakfasts,https://namibian.com.na/omuthiya-hosts-busines...,"[National, News]",[Hileni Nembwaya],None,The Omuthiya Town Council on Saturday launched...,This follows businesses being hard hit by the ...,2023-04-28 09:35:10,None,namibian,[top],[Namibia],english
1,Malta achieves 90% internet penetration rate,https://timesofmalta.com/articles/view/malta-a...,"[Gaming, Tech]",[Sponsored],None,"Here’s a breakdown of the latest stats, along ...",As a select few countries around the world hit...,2023-04-28 09:22:00,https://cdn-attachments.timesofmalta.com/0ae46...,timesofmalta,[top],[Malta],english
2,"Man, 25, seriously injured by tiles lifted int...",https://timesofmalta.com/articles/view/man-25-...,"[Accident, Police, Kerċem, National]",[Times of Malta],None,He was rushed to the Gozo General Hospital,A man was seriously injured on Friday when a b...,2023-04-28 09:20:00,https://cdn-attachments.timesofmalta.com/299c2...,timesofmalta,[top],[Malta],english
3,How to access a single WhatsApp account on mul...,https://en.dailypakistan.com.pk/27-Apr-2023/ho...,[Technology],[Web Desk],None,WhatsApp is improving its multi-device offerin...,WhatsApp is improving its multi-device offerin...,2023-04-28 09:19:19,https://en.dailypakistan.com.pk/digital_images...,dailypakistanen,[technology],[pakistan],english
4,Swapo women sign agreement on sex education,https://namibian.com.na/swapo-women-sign-agree...,"[National, News]",[Sophie Tendane],None,The Swapo Party Women’s Council (SPWC) and the...,SPWC secretary Fransina Kahungu said many time...,2023-04-28 09:19:05,None,namibian,[top],[Namibia],english
5,Henties Bay offers cheap land to stimulate dev...,https://namibian.com.na/henties-bay-offers-che...,"[National, News]",[Adam Hartman],None,The Henties Bay Town Council has made cheap la...,The 102 residential plots the council sold for...,2023-04-28 09:11:34,None,namibian,[top],[Namibia],english
6,Price of sugar in Bulgaria rose 36% in a year ...,https://sofiaglobe.com/2023/04/28/price-of-sug...,[Business],[The Sofia Globe staff],None,The price of sugar in Bulgaria was 36 per cent...,The price of sugar in Bulgaria was 36 per cent...,2023-04-28 09:09:34,None,sofiaglobe,[business],[bulgaria],english
7,"Don’t Forget Lessons Of Ramadan, MUSWEN Urges ...",https://independent.ng/dont-forget-lessons-of-...,[Al-Fahm],[Rasheed Abubakar],None,The Muslim Ummah of South West Nigeria (MUSWE...,The Muslim Ummah of South West Nigeria (MUSWEN...,2023-04-28 09:09:17,None,independentng,[top],[nigeria],english
8,21% of crashes pedestrian-related,https://namibian.com.na/21-of-crashes-pedestri...,"[National, News]",[Feni Hiveluah],None,The University of Namibia is developing a rese...,According to the World Health Organisation Glo...,2023-04-28 09:08:13,None,namibian,[top],[Namibia],english
9,Football great Pele is now an adjective,https://arynews.tv/football-great-pele-is-now-...,"[Lifestyle, Pele]",[AFP],None,"‘Pele’, arguably the best footballer in histor...","On Wednesday, the word ‘pele’ was added to the...",2023-04-28 09:06:57,None,arynews,[top],[pakistan],english

In [ ]:
df.isnull().sum()

title           0
link            0
keywords        0
creator         0
video_url      10
description     0
content         0
pubDate         0
image_url       7
source_id       0
category        0
country         0
language        0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        10 non-null     object
 1   link         10 non-null     object
 2   keywords     10 non-null     object
 3   creator      10 non-null     object
 4   video_url    0 non-null      object
 5   description  10 non-null     object
 6   content      10 non-null     object
 7   pubDate      10 non-null     object
 8   image_url    3 non-null      object
 9   source_id    10 non-null     object
 10  category     10 non-null     object
 11  country      10 non-null     object
 12  language     10 non-null     object
dtypes: object(13)
memory usage: 1.1+ KB

In [ ]:
df.shape

(10, 13)

In [ ]:
df[['title','description', 'content']]

,title,description,content
0,Omuthiya hosts business breakfasts,The Omuthiya Town Council on Saturday launched...,This follows businesses being hard hit by the ...
1,Malta achieves 90% internet penetration rate,"Here’s a breakdown of the latest stats, along ...",As a select few countries around the world hit...
2,"Man, 25, seriously injured by tiles lifted int...",He was rushed to the Gozo General Hospital,A man was seriously injured on Friday when a b...
3,How to access a single WhatsApp account on mul...,WhatsApp is improving its multi-device offerin...,WhatsApp is improving its multi-device offerin...
4,Swapo women sign agreement on sex education,The Swapo Party Women’s Council (SPWC) and the...,SPWC secretary Fransina Kahungu said many time...
5,Henties Bay offers cheap land to stimulate dev...,The Henties Bay Town Council has made cheap la...,The 102 residential plots the council sold for...
6,Price of sugar in Bulgaria rose 36% in a year ...,The price of sugar in Bulgaria was 36 per cent...,The price of sugar in Bulgaria was 36 per cent...
7,"Don’t Forget Lessons Of Ramadan, MUSWEN Urges ...",The Muslim Ummah of South West Nigeria (MUSWE...,The Muslim Ummah of South West Nigeria (MUSWEN...
8,21% of crashes pedestrian-related,The University of Namibia is developing a rese...,According to the World Health Organisation Glo...
9,Football great Pele is now an adjective,"‘Pele’, arguably the best footballer in histor...","On Wednesday, the word ‘pele’ was added to the..."

In [ ]:
df=df[['title','description', 'content']]

In [ ]:
df.iloc[0].values

array(['Omuthiya hosts business breakfasts',
       'The Omuthiya Town Council on Saturday launched its first ever business breakfast meetings aimed at bringing local business leaders and banks together to share strategies to help recover and boost Small and Medium Enteprises (SMEs) through loan acquisitions. This follows businesses being hard hit by the Covid-19 pandemic, which saw many forced to shut their […]',
       'This follows businesses being hard hit by the Covid-19 pandemic, which saw many forced to shut their doors. Town spokesperson Ottilie Shingenge told The Namibian the purpose of the meeting was to share, network and brainstorm ideas for a more conducive business environment. “The meeting scope was tailor-made where local banks such a Bank Windhoek and Nedbank were offered opportunities to give presentations on their financial modalities that could assist local businesses through loans, transactions and overdrafts. “In addition, the town council also presented its mandate and challenges faced during the land acquisition/provision proces,” she said. Shingenge said the meeting also accorded the SMEs opportunities to access different business banking aspects, regardless of whether they are start-ups in the early stages or embarking on growth which can be customised and tailored according to their needs. “These include Bank Transact, which includes service fees which are analysed on the current fees to determine if it can be minimised for their businesses, competitive lending rates which are personalised to their businesses, and equipment and product solutions which are designed to meet a variety of needs that decrease fees and secure transactions,” she said.'],
      dtype=object)

In [ ]:
df.dropna(inplace=True)

<ipython-input-158-c64f9f573c18>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [ ]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [ ]:
analyzer=SentimentIntensityAnalyzer()

In [ ]:
negative=[]
positive=[]
neutral=[]

In [ ]:
df.shape[0]

8

In [ ]:
cnt=0
for i in range(df.shape[0]):
    title=df.iloc[i,0]
    description=df.iloc[i,1]
    content = df.iloc[i,2]
    title_analyzed=analyzer.polarity_scores(title)
    description_analyzed=analyzer.polarity_scores(description)
    content_analyzed=analyzer.polarity_scores(content)
    negative.append((title_analyzed['neg']+description_analyzed['neg']+content_analyzed['neg'])/3)
    positive.append((title_analyzed['pos']+description_analyzed['pos']+content_analyzed['pos'])/3)
    neutral.append((title_analyzed['neu']+description_analyzed['neu']+content_analyzed['neu'])/3)
#     print(title_analyzed)
#     print(description_analyzed)
    # cnt+=2

In [ ]:
negative

[0.030333333333333334,
 0.011999999999999999,
 0.144,
 0.0,
 0.014333333333333332,
 0.021666666666666667,
 0.007666666666666666,
 0.07666666666666666,
 0.09533333333333333,
 0.016333333333333335,
 0.030333333333333334,
 0.011999999999999999,
 0.144,
 0.0,
 0.014333333333333332,
 0.021666666666666667,
 0.007666666666666666,
 0.07666666666666666,
 0.09533333333333333,
 0.016333333333333335]

In [ ]:
positive

[0.07566666666666666,
 0.05566666666666667,
 0.012333333333333333,
 0.09966666666666667,
 0.20466666666666666,
 0.13999999999999999,
 0.011666666666666667,
 0.12233333333333334,
 0.011999999999999999,
 0.17566666666666667,
 0.07566666666666666,
 0.05566666666666667,
 0.012333333333333333,
 0.09966666666666667,
 0.20466666666666666,
 0.13999999999999999,
 0.011666666666666667,
 0.12233333333333334,
 0.011999999999999999,
 0.17566666666666667]

In [ ]:
neutral

[0.8936666666666667,
 0.9323333333333333,
 0.8436666666666667,
 0.9003333333333333,
 0.781,
 0.8386666666666667,
 0.9806666666666667,
 0.801,
 0.8930000000000001,
 0.8083333333333332,
 0.8936666666666667,
 0.9323333333333333,
 0.8436666666666667,
 0.9003333333333333,
 0.781,
 0.8386666666666667,
 0.9806666666666667,
 0.801,
 0.8930000000000001,
 0.8083333333333332]

In [ ]:
name="Kapil Soni"
name=name.split()

In [ ]:
name

['Kapil', 'Soni']

In [ ]:
name="%20".join(name)

In [ ]:
name

'Kapil%20Soni'

In [ ]:
name="Yogi Adityanath"
name=name.split()
name="%20".join(name)
name="&q="+name
url="https://newsdata.io/api/1/news?apikey=pub_191729a7504a7dfeda92f5d160ab32d8bc375&language=en"
url=url+name

In [ ]:
url

'https://newsdata.io/api/1/news?apikey=pub_191729a7504a7dfeda92f5d160ab32d8bc375&language=en&q=Yogi%20Adityanath'

In [ ]:
res=requests.get(url)

In [ ]:
res

In [ ]:
xd=pd.DataFrame(res.json()['results'])

In [ ]:
xd.shape[0]

10

In [ ]:
xd = xd[['title', 'description', 'content']]

In [ ]:
xd

,title,description,content
0,Watch: UP CM Yogi Adityanath speaks in Kannada...,Yogi Adityanath said in Karnataka that reserva...,"On Wednesday, Yogi Adityanath, the chief minis..."
1,Plea filed in Patna HC challenging amendment o...,Plea filed in Patna HC by advocate Alka Verma ...,OpIndia bringing the \'right\' side of India O...
2,"Congress and JDS create division, not developm...",Mandya/Vijaypura: Uttar Pradesh Chief Minister...,Mandya/Vijaypura: Uttar Pradesh Chief Minister...
3,‘Mamata’s police brutally killed a young man’:...,"Taking to Twitter Suvendu Adhikari wrote, ""Mam...",OpIndia bringing the \'right\' side of India O...
4,Gauhati HC refuses interim relief to Youth Con...,Before the petitioner's interim request was ta...,OpIndia bringing the \'right\' side of India O...
5,Karnataka Elections:'Religion-based quota will...,Uttar Pradesh CM Yogi Adityanath slammed Congr...,None
6,"India witnessing massive growth in economy, ch...","PM Modi said, ""If everyone puts his efforts in...",OpIndia bringing the \'right\' side of India O...
7,"CBI opposes bail plea of Manish Sisodia, says ...","CBI said that Manish Sisodia ""misused"" his off...",OpIndia bringing the \'right\' side of India O...
8,UP CM holds mega Road Show in Mandya,Mandya: The sugar bowl of Mandya turned saffro...,Mandya: The sugar bowl of Mandya turned saffro...
9,"Indian arrested in UK for funding Hezbollah, d...","An Indian national, Sundar Nagarajan, was arre...","An Indian national, Sundar Nagarajan, was arre..."

In [ ]:
xd.dropna(inplace=True)

<ipython-input-187-1b54e7b0814f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  xd.dropna(inplace=True)

In [ ]:
positive = []
negative = []
neutral =[]

In [ ]:
for i in range(xd.shape[0]):
    title=xd.iloc[i,0]
    description=xd.iloc[i,1]
    content = xd.iloc[i,2]
    title_analyzed=analyzer.polarity_scores(title)
    description_analyzed=analyzer.polarity_scores(description)
    content_analyzed=analyzer.polarity_scores(content)
    negative.append((title_analyzed['neg']+description_analyzed['neg']+content_analyzed['neg'])/3)
    positive.append((title_analyzed['pos']+description_analyzed['pos']+content_analyzed['pos'])/3)
    neutral.append((title_analyzed['neu']+description_analyzed['neu']+content_analyzed['neu'])/3)

In [ ]:
neg_per=sum(negative)* 10

In [ ]:
neg_per

15.950000000000003

In [ ]:
pos_per=sum(positive)* 10

In [ ]:
pos_per

9.46

In [ ]:
new_per=sum(neutral)* 10

In [ ]:
new_per

114.58333333333336